<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogeado')  %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="GET" action="/users/register" class="formulario-users">
					<div class="div-users">
						<label for="Email">Email</label>
						<input class="input-users" type="text" email="email">
					</div>
					<div class="div-users">
						<label for="Contraseña">Contraseña</label>
						<input class="input-users" type="password" password="contraseña">
					</div>
					<div class="div-users">
						<label for="Recordarme">Recordarme</label>
						<input class="input-users" type="checkbox" checkbox="Recordarme">
					</div>
				</form>
				<input type="submit" value="Login" class="div-users">

			</h2>
			<div>

				<!-- footer -->
				<%- include('./partials/footer')  %>
				<!-- /footer -->
</body>

</html>