<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogeado')  %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="GET" action="/users/register">
					<label for="">Email</label>
					<input type="text" email="email">
				</form>
			</h2>
			<h2 class="col-12">
				<form action="GET" action="/users/register">
					<label for="">Contraseña</label>
					<input type="password" password="contraseña">
				</form>
			</h2>	
			<h2 class="col-12">
				<form action="GET" action="/users/register">
					<label for="">Recordarme</label>
					<input type="checkbox" checkbox="Recordarme">
				</form>
			</h2>		
			<!-- footer -->
			<%- include('./partials/footer')  %>
			<!-- /footer -->
</body>

</html>