<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%	if (locals.user != undefined) {	%>
		<%- include('./partials/headerLogeado')  %>
		<% } %> 
		<% if(locals.user == undefined)	{ %>
			<%- include('./partials/headerDeslogeado')  %>
		<%	}	%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> EDITAR PERFIL
				<form class="formulario-users" method="POST" action="/users/profileEdit" enctype="multipart/form-data">
					<div class="div-users">
						<label for="Email"> Editar email</label>
						<input type="text" email="email">
					</div>

					<div class="div-users">
						<label for="Usuario"> Editar usuario</label>
						<input type="text" name="usuario">
					</div>

					<div class="div-users">
						<label for="Contraseña">Editar contraseña</label>
						<input type="password" password="contraseña">
					</div>

					<div class="div-users">
						<label for="Fecha">Editar fecha de Nacimiento</label>
						<input type="date" date="Fecha de Nacimiento">
					</div>

					<div class="div-users">
						<label for="documento">Editar numero de documento</label>
						<input type="number" numerico="numerico">
					</div>
					<div class="div-users">
						<label for="fotoPerfil">Editar foto de perfil</label>
						<input type="file" img="foto de perfil">
					</div>
					<button type="text" class="submit">Submit</button>
					
				</form>
			</h2>


			<!-- footer -->
			<%- include('./partials/footer')  %>
			<!-- /footer -->
</body>

</html>