<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogeado')  %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="GET" action="/users/register" class="formulario-users">
					<div class="div-users">
						<label class="label-users" for="Email">Email</label>
						<input class="input-users" type="text" email="email">
					</div>

					<div class="div-users">
						<label class="label-users" for="Usuario">Usuario</label>
						<input class="input-users" type="text" name="usuario">
					</div>

					<div class="div-users">
						<label class="label-users" for="Contraseña">Contraseña</label>
						<input class="input-users" type="password" password="contraseña">
					</div>

					<div class="div-users">
						<label class="label-users" for="Fecha">Fecha de Nacimiento</label>
						<input class="input-users" type="date" date="Fecha de Nacimiento">
					</div>

					<div class="div-users">
						<label class="label-users" for="documento">Numero de documento</label>
						<input class="input-users" type="number" numerico="numerico">
					</div>
					<div class="div-users">
						<label class="label-users" for="fotoPerfil">Foto de perfil</label>
						<input class="input-users" type="file" img="foto de perfil">
					</div>
				</form>
				<input type="submit" value="Registrarse" class="div-users">
				<p></p>
				
			</h2>

			<!-- footer -->
			<%- include('./partials/footer')  %>
			<!-- /footer -->
</body>

</html>