<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogeado')  %>
	<!-- /Header -->
    <% if(locals.erroresLogin){ %>
		<p class="mensajeError" style="color: red;"> <%= erroresLogin.message %>
		</p>
	<% } %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form class="formulario-users" method="POST" action="/users/register" enctype="multipart/form-data">
					<div class="div-users">
						<label class="label-users" for="name">Nombre</label>
						<input id="name" class="input-users" type="text" name="name" placeholder="name">
					</div>

					<div class="div-users">
						<label class="label-users" for="email">Email</label>
						<input id="email" class="input-users" type="email" name="email" placeholder="email">
					</div>
					<div class="div-users">
						<label class="label-users" for="password">Contraseña</label>
						<input id="password" class="input-users" type="password" name="password" placeholder="Clave">
					</div>

						<div class="div-users">
							<label class="label-users" for="date">Fecha de Nacimiento</label>
							<input id="date" class="input-users" name="date" type="date">
						</div>

						<div class="div-users">
							<label class="label-users" for="documento">Numero de documento</label>
							<input id="documento" class="input-users" name="dni" type="number">
						</div>
					<div class="div-users">
						<label class="label-users" for="imgPerfil">Foto de perfil</label>
						<input id="imgPerfil" class="input-users" type="file" name="imgPerfil">
					</div>
					<button type="text" class="submit">submit</button>
				</form>
			<!--	<input class="div-users, botonesVarios" type="submit" value="Registrarse"> -->
				<p></p>

			</h2>	

			<!-- footer -->
			<%- include('./partials/footer')  %>
			<!-- /footer -->
</body>

</html>